<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center v-center">
			<h1> In Game </h1>
			<div class="all-dice"></div>
				<button class="player-turn-btn btn btn-danger btn-huge lato player"><%= @player.name %>'s Turn</button>
				<button class="roll-dice-btn btn btn-danger btn-huge lato player">Roll Dice</button>
				<a href="/" class="new-game-btn btn btn-danger btn-huge lato">New Game</a>
		</div>
	</div>
</div>