<div class="container">
	<div class="header">
		<h1> In Game </h1>
	</div>
	<div class="all-dice"></div>
	<button class="roll-dice-btn">Roll Dice</button>
	<button class="new-game-btn">New Game</button>
</div>