<div class="container-full">
	<div class="row">
		<div class="col-lg-12 text-center v-center">
			<h1>Backgammon Dice Roller</h1>
			<p class="lead"></p>
			<br><br><br>

			<form class="col-lg-12" action="/games", method="POST", name="players">
				<div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
					<div class="col-lg-12">
						<label for="player_1_input" class="input-player-label">Player 1</label>
						<input class="form-control input-lg input player" autocomplete="off" name="player_1" value="<%= @name_1 %>" placeholder="" type="text">
					</div>
					<div class="col-lg-12">
						<label for="player_2_input" class="input-player-label">Player 2</label>
						<input class="form-control input-lg input player" autocomplete="off" name="player_2" value="<%= @name_2 %>" placeholder="" type="text">
					</div>
					<br>
					<div class="col-lg-12 input-player-first">
						<p>Who Goes First?</p>
						<input type="radio" name="first" value="0" checked><label for="player_1" class="radio-label"><%= @goes_first_1 %></label>
						<input type="radio" name="first" value="1"><label for="player_2" class="radio-label"><%= @goes_first_2 %></label>
					</div>			
				</div>
				<div class="col-lg-12">
					<span class="input-group-btn"><input type="submit" class="btn btn-danger btn-lg btn-huge lato" value="Start Game"></span>
				</div>
			</form>
		</div>

	</div> <!-- /row -->
</div> <!-- /container full -->

		
